/*

WARNING: All CSS in this document will run ROOT LEVEL in the emulator.
         You MUST prefix your selectors with win_wid_<NAME>_

*/

/*
.win_titlebar,
.win_titb_text,
.win_titb_icon,
#win_wid_run_container,
#win_taskbar,
#win_start,
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.win_underline {
	text-decoration: underline;
}
*/
.win_widget {
	border-image-slice: 4 4 4 4;
	border-image-width: 4px 4px 4px 4px;
	border-image-outset: 4px 4px 4px 4px;
	border-image-repeat: stretch stretch;
	border-image-source: url("images/border.png");
	/*display: none;*/
	position: absolute !important; /* must be important because jQuery UI will set it to rel and bad things will happen */
}

